### 1. String (5 Questions)

##### 1. check if given string is palindrome

In [5]:
p = input("Enter the word:")
word = p.lower()
Reverse = word[::-1]
if word == Reverse:
    print("It is a Palindrome")
else:
    print("It is not a Palindrome")

Enter the word: madam

It is a Palindrome

##### 2. Count the number of vowels in a string and store the result in a dictionary.

In [8]:
def count_vowels(word):
    """This Function count the vowel in the word."""
    word = word.lower()
    a = e = i = o = u = 0
    for ch in word:
        if ch == "a":
            a += 1
        elif ch == "e":
            e += 1
        elif ch == "i":
            i += 1
        elif ch == "o":
            o += 1
        elif ch == "u":
            u += 1
            
    return {"a": a, "e": e, "i": i, "o": o, "u": u}

In [11]:
count_vowels("Mayur")

{'a': 1, 'e': 0, 'i': 0, 'o': 0, 'u': 1}

In [12]:
count_vowels("My name is pranay")

{'a': 3, 'e': 1, 'i': 1, 'o': 0, 'u': 0}

In [7]:
s = "education"
vowels = "aeiou"
count = {v:s.count(v) for v in vowels}
for v in vowels:
    print(count)

{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}
{'a': 1, 'e': 1, 'i': 1, 'o': 1, 'u': 1}

##### 3. Convert the first letter of each word in a string to uppercase (title case manually)

In [14]:
w = input("Sentence:").title()
print(w)

Sentence: peoples are standing there on street

Peoples Are Standing There On Street

##### 4. find the most frequently occurring character in a string in python

In [21]:
s1 = "apple"
freq = {ch:s1.count(ch) for ch in s1}
print(max(freq,key = freq.get))

p

##### 5. Count digits, alphabets, and special characters separately in a string.

In [75]:
string = "123.Please Enter your Own String"
alphabets=0
digits =0
special = 0

for i in range(len(string)):
    if(string[i].isalpha()):
        alphabets += 1
    elif(string[i].isdigit()):
        digits += + 1
    else:
        special += 1
        
print("\nTotal Number of Alphabets in this String :  ", alphabets)
print("Total Number of Digits in this String :  ", digits)
print("Total Number of Special Characters in this String :  ", special)

Total Number of Alphabets in this String :   24
Total Number of Digits in this String :   3
Total Number of Special Characters in this String :   5

## List (5 Questions)

##### 6. Remove duplicate elements from a list without using set().

In [76]:
lst = [1, 2, 3, 2, 4, 1, 5, 3]

unique_list = []
for i in lst:
    if i not in unique_list:
        unique_list.append(i)

print(unique_list)

[1, 2, 3, 4, 5]

#####  7.  Reverse a list without using built-in functions.

In [85]:
numbers = [0,1, 2, 3, 4, 5]

list=numbers[5:0:-1]

print(list)

[5, 4, 3, 2, 1]

##### 8. Find the 2nd largest and 2nd smallest element in a list.

In [86]:
numbers = [55,21,98,400,12456,34,1,20]
n = sorted(numbers)
second_smallest = n[1]
second_largest = n[-2]

print("2nd smallest:",second_smallest,"2nd largest:",second_largest)
print(n)

2nd smallest: 20 2nd largest: 400
[1, 20, 21, 34, 55, 98, 400, 12456]

##### 9. Store the square of each element of a list into a new list (using list comprehension).

In [87]:
numbers = [1,4,5,7,9]

squares = [x**2 for x in numbers]

print(squares)

[1, 16, 25, 49, 81]

##### 10. Flatten a nested list into a single list

In [88]:
nested = [[1, 2], [3, 4], [5, 6]]

#   [x for sub in nested for x in sub]      #1st way

flat = []
for i in nested:
    for j in i:
        flat.append(j)

print(flat)

[1, 2, 3, 4, 5, 6]

In [89]:
nested = [[1,2],[3,4],[5,6]]              # 2nd way 
[x for sub in nested for x in sub]

[1, 2, 3, 4, 5, 6]

## 3. Tuple (5 Questions)

##### 11. Reverse a tuple without using [-1]

In [90]:
A = (1, 2, 3, 4, 5)

p = tuple(reversed(A))

print(p)

(5, 4, 3, 2, 1)

##### 12. Extract unique elements from a tuple and store them in a new list.

In [93]:
t = (1, 2, 3, 2, 4, 1, 5, 3)

unique_list = []
for i in t:
    if i not in unique_list:
        unique_list.append(i)

print(unique_list)

[1, 2, 3, 4, 5]

##### 13. Concatenate two tuples and sort them.

In [95]:
t1 = (1,2,3)
t2 = (4,5,6)

concat = t1 + t2
print(concat)

(1, 2, 3, 4, 5, 6)

##### 14. Count the frequency of an element in a tuple without using count().

In [100]:
t = (1, 2, 2, 3, 2)
element = 2
count = sum(1 for x in t if x== element)
print(count)

3

##### 15. From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers.

In [101]:
t = (1, 2, 3, 4, 5, 6, 7, 8, 9)

even = tuple(i for i in t if i%2==0)
odd = tuple (i for i in t if i%2!=0)

print(even,odd)

(2, 4, 6, 8) (1, 3, 5, 7, 9)

In [102]:
numbers = (10,11,12,13,14,15,16,17,18)

even = []
odd = []

for n in numbers:
    if n % 2 == 0:
        even.append(n)
    else:
        odd.append(n)

even_tuple = tuple(even)
odd_tuple = tuple(odd)

print("Even numbers tuple:", even_tuple)
print("Odd numbers tuple:", odd_tuple)

Even numbers tuple: (10, 12, 14, 16, 18)
Odd numbers tuple: (11, 13, 15, 17)

### 4. Set (5 Questions)

##### 16. Perform union, intersection, and difference of two sets without using built-in

In [103]:
A = [1, 2, 3]
B = [3, 4]
                        # use special character |,-,&
union = []
for x in A:
    if x not in union:
        union.append(x)
for y in B:
    if y not in union:
        union.append(y)

# Intersection
intersection = []
for x in A:
    if x in B and x not in intersection:
        intersection.append(x)

# Difference 
difference = []
for x in A:
    if x not in B:
        difference.append(x)

print("Union:", union)
print("Intersection:", intersection)
print("Difference (A - B):", difference)

Union: [1, 2, 3, 4]
Intersection: [3]
Difference (A - B): [1, 2]

##### 17. Remove a random element from a set (without using pop()).

In [1]:
import random
s = {1,2,3,4,5,6,7,8} # set
x = list(s) # converting set into list
y = random.choice(x)  # it will pick any random element
s.remove(y) # and remove that random element from set

print("Removed:",y)
print("Updated:",s)

Removed: 4
Updated: {1, 2, 3, 5, 6, 7, 8}

#####  18.Convert a list into a set and check if duplicates are removed.

In [2]:
list = [10, 20, 20, 30, 40, 40, 50]

# Convert list into set
unique_set = set(list)

print("Original List:", list)
print("Converted Set:", unique_set)

Original List: [10, 20, 20, 30, 40, 40, 50]
Converted Set: {40, 10, 50, 20, 30}

##### 19. Check if two sets are disjoint.

In [3]:
a = {1,2}
b ={3,4}

a.isdisjoint(b)

True

##### 20. Find the sum of all elements in a set

In [5]:

q = {10,129,1238,12347,123456}
sum(q)

137180

## 5. Dictionary (5 Questions)

##### 21. Create a dictionary and print keys in ascending order

In [6]:
my_dict = {"c": 3, "a": 1, "b": 2}             # 1st way

print("Original Dictionary:", my_dict)
print("Keys in ascending order:", sorted(my_dict.keys()))

Original Dictionary: {'c': 3, 'a': 1, 'b': 2}
Keys in ascending order: ['a', 'b', 'c']

In [8]:
dict = {"c": 3, "a": 1, "b": 2}      # 2nd way 
s=sorted(dict.keys())
print(s)

['a', 'b', 'c']

##### 22. Add a new key to a dictionary with value equal to the sum of existing values.

In [9]:
d = {"a": 10, "b": 20, "c": 30} 
d_total = sum(d.values())
print(d_total)

60

In [11]:
d = {"x":10, "y":20}
d['total'] = sum(d.values())
print(d)

{'x': 10, 'y': 20, 'total': 30}

##### 23. Merge two dictionaries into one.

In [12]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [14]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}

d2.update(d1)
print(d2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

In [15]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
merged = {**d1,**d2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

##### 24. Find the key with the largest value in a dictionary.

In [16]:
d= {"a":10 , "b":25 , "c":5}
print(max(d,key = d.get))

b

##### 25. Store the frequency of characters of a string in a dictionary.

In [17]:
s = "banana"
freq = {ch:s.count(ch) for ch in set (s)}
print (freq)

{'a': 3, 'b': 1, 'n': 2}

In [18]:
s = "chocolate"
freq = {ch: s.count(ch) for ch in set(s)}
print(freq)

{'a': 1, 'l': 1, 'c': 2, 'o': 2, 't': 1, 'e': 1, 'h': 1}

### 6. Conditional Statements (5 Questions)

##### 26. Take age as input and check if the person is eligible to vote or not.

In [19]:
def Eligibility():
    age = int(input("Enter your age: "))
    if age >= 18:
        print("You are eligible to vote.")
    else:
        print("You are not eligible to vote.")

In [20]:
Eligibility()

Enter your age:  20

You are eligible to vote.

##### 27. Find the largest among three numbers (using nested if).

In [21]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b:
    if a >= c:
        print("Largest number is:", a)
    else:
        print("Largest number is:", c)
else:
    if b >= c:
        print("Largest number is:", b)
    else:
        print("Largest number is:", c)

Enter first number:  12
Enter second number:  13
Enter third number:  14

Largest number is: 14

In [43]:
a,b,c = 10,20,30
if a > b and a > c:
    print("Largest number is:",a)
elif b > a and b > c:
    print("Largest number is:",b)
else:
    print("Largest number is:",c)

Largest number is: 30

In [44]:
a,b,c = 10,20,30
print("Largest number is:",max(a,b,c))

Largest number is: 30

##### 28. Check if a given number is prime or not.

In [47]:
n = int(input("enter a number "))
if n <= 1:
    print("Not a prime number")
elif n==2  or n==3:
    print("It is a prime number")
else:
    for i in range(2,n):  # its check that if n is divisible by any number between 2 and n-1 if yes then its not a prime number,
        if n % i == 0 :
            print("Not a prime number")
            break
    else:
        print("It is a prime number")

enter a number  12

Not a prime number

##### 29. Assign grade (A, B, C, Fail) based on marks input.

In [49]:
def assign_grade():
    marks = int(input("Enter your marks: "))
    if marks >= 90:
        print("Grade: A")
    elif marks >= 75:
        print("Grade: B")
    elif marks >= 50:
        print("Grade: C")
    else:
        print("Grade: Fail")

In [50]:
assign_grade()

Enter your marks:  45

Grade: Fail

##### 30. Check if a number is positive, negative, or zero.

In [25]:
def check_number():
    num = int(input("Enter a number: "))
    if num > 0:
        print("The number is Positive.")
    elif num < 0:
        print("The number is Negative.")
    else:
        print("The number is Zero.")

In [52]:
check_number()

Enter a number:  45

The number is Positive.

## 7. Loops – For & While (5 Questions)

##### 31. Print the first 10 numbers of the Fibonacci series using for loop.

In [32]:
a,b = 0,1
for _ in range(10):
    print(a,end= " ")
    a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

##### 32. Find the factorial of a number using while loop.

In [34]:
n = 5
fact = 1
while n > 0:
    fact *= n
    n -= 1
print("\nFactorial:",fact)

Factorial: 120

##### 33. Input a number and find the sum of its digits using while loop.

In [22]:
n = 12347
s = 0
while n > 0:
    s += n % 10
    n //= 10
print("sum of digits:", s)

sum of digits: 17

##### 34. Print all elements of a list in reverse order without using reverse().

In [35]:
z1 = [11,12,13,14,15,16,17,18,19,20]
my_list = z1[::-1]
print(my_list)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11]

##### 35. Print a star pattern (triangle) using nested loops

In [37]:
num = int(input("Enter the num:"))
for i in range(num):
    for j in range(i + 1):
        print("*",end = " ")
    print()

Enter the num: 5

*
* *
* * *
* * * *
* * * * *

## 8. File Handling (5 Questions)

##### 36. Write some text into a file and then read and print it.

In [38]:
f = open("123.txt", "w")
f.write("Hello its my fisrt time studying python.")
f.close()

In [39]:
f = open("123.txt", "r")

In [40]:
f.read()

'Hello its my fisrt time studying python.'

##### 37. Count the total number of lines in a file.

In [42]:
file = open("123.txt", "r")
line = file.readline()
print("Lines:", len(file.readline()))

Lines: 0

In [43]:
with open("123.txt", "r") as f:
    print("Lines:", len(file.readline()))

Lines: 0

##### 38. Count vowels and consonants in a file.

In [44]:
f = open("123.txt", "r")
text = f.read().lower()
f.close()

vowels = 0
consonants = 0

for ch in text:
    if ch.isalpha():
        if ch in "aeiou":
            vowels += 1
        else:
            consonants += 1

print("Vowels:", vowels)
print("Consonants:", consonants)

Vowels: 9
Consonants: 24

In [46]:
with open("123.txt") as f:
    text = f.read().lower()
vowels = sum(ch in "aeiou" for ch in text)
consonants = sum(ch. isalpha() and ch not in "aeiou" for ch in text)
print("Vowels:",vowels, "Consonants:",consonants)

Vowels: 9 Consonants: 24

##### 39. Convert the content of a file into uppercase and store it in another file.

In [47]:
with open("123.txt") as f:
    data = f.read().upper()
with open("upper.txt", "w") as f:
    f.write(data)
    f.close()

In [48]:
f = open("upper.txt", "r") 
f.read()

'HELLO ITS MY FISRT TIME STUDYING PYTHON.'

##### 40. Read a CSV file and print its rows.

In [49]:
import csv
with open("123.txt", newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Hello its my fisrt time studying python.']

## 9. OS Module (5 Questions)

In [50]:
import os

##### 41. Print the current working directory using os module.

In [51]:
print(os.getcwd())

C:\Users\Hp\Downloads

##### 42. Create a new folder using os module and create a file inside it.

In [62]:
os.mkdir("ABCDEfg")
f = open("ABCD/newfile.txt","w")
f.write("my file is inside ABCD")
f.close()
print("Folder and file create successfully")

Folder and file create successfully

##### 43. List all files and folders inside a directory.

In [63]:
os.listdir()

['.ipynb_checkpoints',
 '00. Python Basics.pdf',
 '01. Python Basics.ipynb',
 '02. Build-in Functions.ipynb',
 '03. List and Operation.ipynb',
 '04. String and Operations.ipynb',
 '05.Tuple and Operations.ipynb',
 '06. Set and operation.ipynb',
 '08. Conditions-1.ipynb',
 '09. Conditions-2 .ipynb',
 '10. Loops-1.ipynb',
 '11. loop-2.ipynb',
 '12. Loop-3.ipynb',
 '123.txt',
 '13. File_handling.ipynb',
 '15. User_define .ipynb',
 '16. User_define_function-2.ipynb',
 '17. global, map, reduce, filtter.ipynb',
 '18. OOPs-1.ipynb',
 '19. OOPs-2.ipynb',
 '7. Dictionary and operations.ipynb',
 '7991dfdc-6886-4e8a-b3ec-66faada19d20 (1).webp',
 '7991dfdc-6886-4e8a-b3ec-66faada19d20.webp',
 'A STUDY TO ASSESS THE EFFECTIVENESS OF EDUCATIONAL INTERVENTION ON KNOWLEDGE REGARDING THE BREASTFEEDING PROBLEMS AND THEIR COPING STRATEGIES AMONG POSTNATAL MOTHERS UNDERWENT CESAREAN SECTION IN SELECTED HOSPITALS OF THE CITY.docx',
 'A STUDY TO ASSESS THE EFFECTIVENESS OF EDUCATIONAL INTERVENTION ON KNOWLEDGE REGARDING THE BREASTFEEDING PROBLEMS AND THEIR COPING STRATEGIES AMONG POSTNATAL MOTHERS UNDERWENT CESAREAN SECTION IN SELECTED HOSPITALS OF THE CITY.pdf',
 'ABCD',
 'ABCDE',
 'ABCDEf',
 'ABCDEfg',
 'admin assignment (1).docx',
 'admin assignment SWEETY.pdf',
 'admin assignment.docx',
 'admin assignment.pdf',
 'Anaconda3-2025.06-0-Windows-x86_64.exe',
 'ANNEXURE.docx',
 'ANNEXURE.pdf',
 'antenatal care.pptx',
 'Assignment...ipynb',
 'babar sir.docx',
 'base.ipynb',
 'BIBLIOGRAPHY NEW.docx',
 'BIBLIOGRAPHY.docx',
 'certificate page.docx',
 'CERTIFICATE RESEARCH.pdf',
 'cummulative and philosophy.docx',
 'cummulative and philosophy.pdf',
 'CURRICULLUM VITAE.docx',
 'CURRICULLUM VITAE.pdf',
 'DAY AND NIGHT REPORT.docx',
 'DAY AND NIGHT REPORT.pdf',
 'demo1.txt',
 'desktop.ini',
 'DESSERTATION PDF.pdf',
 'Dessertation PRITI.docx',
 'DOC-20250611-WA0003..docx',
 'DocScanner 20-Apr-2025 11-05 am(1).pdf',
 'Documents - Shortcut.lnk',
 'EVALUATION FORMAT MSC JOURNAL.doc',
 'example.txt',
 'EXPERT ;LIST PDF.pdf',
 'file1.txt',
 'file10.txt',
 'file2.txt',
 'file3.txt',
 'file4.txt',
 'file5.txt',
 'file6.txt',
 'file7.txt',
 'file8.txt',
 'file9.txt',
 'final desertation shraddha..docx',
 'FINAL DESSARTATION (1) (1).docx',
 'FINAL DESSARTATION (1) hyp.pdf',
 'FINAL DESSARTATION (1).docx',
 'FINAL DESSARTATION (1).pdf',
 'FINAL DESSARTATION.docx',
 'FINAL DESSARTATION.pdf',
 'IDENTIFY.docx',
 'ilovepdf_merged.pdf',
 'INCIDENT REPORT.docx',
 'INCIDENT REPORT.pdf',
 'index       admin.docx',
 'INDEX (1).pdf',
 'INDEX.pdf',
 'journal 2 (1).pdf',
 'KAJAL FINAL DISSERTATION PPT.pptx',
 'language letters.docx',
 'language letters.pdf',
 'LAYOUT.pdf',
 'letter.pdf',
 'MCQ ON ANC CARE.pdf',
 'MKSSS SN COLLEGE OF NURSING FOR WOMEN.docx',
 'new desertation.docx',
 'NURSES PROGRESS NOTES.docx',
 'NURSES PROGRESS NOTES.pdf',
 'problems.pdf',
 'Query answer sheet.docx',
 'Query answer sheet.pdf',
 'RESEARCH PPT new (1).pptx',
 'RESEARCH PPT new.pptx',
 'RESEARCH PPT.pptx',
 'Staffing required for hsopital.docx',
 'Staffing required for hsopital.pdf',
 'SWEETY CERTIFICATE (1).docx',
 'SWEETY CERTIFICATE (1).pdf',
 'SWEETY CERTIFICATE (4.pdf',
 'sweety certificate new.pdf',
 'sweety thesis print (1).pdf',
 'sweety thesis print.pdf',
 'switi kolhe Resume.docx',
 'switi obg index (1).pdf',
 'switi obg index.docx',
 'switi obg index.pdf',
 'Test - 1 (1).ipynb',
 'Test - 1.ipynb',
 'test.txt',
 'test1.txt',
 'test_que_1.txt',
 'thesis new hpy.pdf',
 'Untitled.ipynb',
 'upper.txt',
 'vision mission.docx',
 'vision mission.pdf',
 'WhatsApp Image 2025-07-16 at 3.37.30 PM.jpeg',
 'WhatsApp Image 2025-07-16 at 3.37.31 PM (1).jpeg',
 'WhatsApp Image 2025-07-16 at 3.37.31 PM.jpeg',
 'WhatsApp Image 2025-09-07 at 6.00.05 PM.jpeg',
 'WHO.docx']

##### 44. Check the size of a file using os module.

In [64]:
filename = "123.txt"
size = os.path.getsize(filename)
print(f"File size of {filename} is: {size} bytes")

File size of 123.txt is: 40 bytes

##### 45. Count all .txt files in a directory

In [65]:
files = os.listdir()
count = 0

for f in files:
    if f.endswith(".txt"):
        count += 1
result = {".txt files:", count}

print(result)

{17, '.txt files:'}

## 10. Try-Exception (5 Questions)

##### 46. Write a program that takes user input and prints its square. Handle errors if input is invalid.

In [66]:
try:
    num = int(input("Enter a number: "))
    print("Square is:", num**2)
except ValueError: 
    print("Invalid input! Please enter a number.")

Enter a number:  5

Square is: 25

##### 47. Handle ZeroDivisionError with an example program.

In [70]:
try:
    a = int(input("Enter numerator: "))
    b = int(input("Enter denominator: "))
    result = int(a / b)
    print("Result:", result)
except ZeroDivisionError:
    print("Error! Cannot divide by zero.")

Enter numerator:  4
Enter denominator:  0

Error! Cannot divide by zero.

##### 48. Handle FileNotFoundError with an example program.

In [71]:
try:
    f = open("sample.txt", "r")   
    print(f.read())
    f.close()
except FileNotFoundError:
    print("File not found!")

File not found!

##### 49. Handle both ValueError and TypeError with an example.

In [73]:
try:
    num = int(input("Enter a number: "))   
    result = num + "5"                     # this code will show error 
    print(result)
except ValueError:
    print("ValueError: Please enter numbers only!")
except TypeError:
    print("TypeError: Cannot add number and string together!")

Enter a number:  j

ValueError: Please enter numbers only!

##### 50. Write a program with finally block that opens and closes a file

In [74]:
try:
    file = open("example.txt", "w")
    file.write("Hello, Python!")
    print("File written successfully.")

except Exception as e:
    print("An error occurred:", e)

finally:
    file.close()
    print("File closed successfully.")

File written successfully.
File closed successfully.